@font-face 
    font-family: 'zhww'
    src: url('/zy.ttf')

$main_color = #E5212D

.blackBtn
    background #000
    color #fff
.redBtn
    color $main_color
button
    color $main_color
.blackFont
    color #000
#navBtn
  width 100%
  button
    width 50%
    height 2em
    font-size 3em